/*  Header  */
.header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    height: 50px;
    border-bottom: 1px solid orange;
}
.headerContent {
    width: 33.33%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.headerLeftButtonImg {
    width: 9.14px;
    height: 18.38px;
}
.headerRightButtonImg {
    width: 18px;
    height: 19px;
}

/*  Terms   */
.terms{
    width: 95%;
    height: 50px;
    border-bottom: 1px solid orange;

    display: flex;
    justify-content: left;
    padding-left: 1rem;
}

/*  MainContent */
.salongerListItem {
    width: 100%;
    height: 5rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 1px solid orange;
}
.rightButton {
    width: 5.68px;
    height: 10.91px;
}
.salongerListItemUl {
    padding: 0;
}
.salongerListItemFirst {
    width: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
.salongerListItemSecond {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: space-around;
}
.salongerListItemThird {
    width: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
.salongerListItemFourth {
    width: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.stjarnor {
    width: 58px;
    height: 8px;
}
a {
text-decoration: none;
    color: black;
}