body {
    margin: 0;
    padding: 0;
    width: 99%;
}
/*  Header  */
.header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    height: 50px;
    border-bottom: 1px solid orange;
}
.headerContentLeft {
    margin: 1rem;
    width: 33.33%;
    display: flex;
    justify-content: left;
    align-items: center;
}
.headerContentMiddle {
    width: 33.33%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.headerContentRight {
    margin: 1rem;
    width: 33.33%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.headerLeftButtonImg {
    width: 9.14px;
    height: 18.38px;
}
.headerRightButtonImg {
    width: 18px;
    height: 19px;
}

/*  Terms   */
.terms{
    width: 97%;
    height: 50px;
    border-bottom: 1px solid orange;

    display: flex;
    justify-content: left;
    padding-left: 1rem;
    position: relative;
    display: inline-block;
}
/*Dropdown*/
.dropbtn {
    background-color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
.show {
    display: block;
}
.dropdownButton {
    width: 18.38px;
    height: 9.14px;
}

/*  MainContent */
.salongerListItem {
    width: 100%;
    height: 7rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 1px solid rgba(255, 165, 0, 0.2);
}
.rightButton {
    width: 5.68px;
    height: 10.91px;
}
.salongerListItemUl {
    padding: 0;
}
.salongerListItemFirst {
    width: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
.salongerListItemSecond {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: space-around;
}
.salongerListItemThird {
    width: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
.salongerListItemFourth {
    width: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.stjarnor {
    width: 58px;
    height: 8px;
}
a {
text-decoration: none;
    color: black;
}

/*  infoOmSalonger  */
.moreInfoHeaderImg {
    width: 100%;
}
.moreInfoHeader {
    position: relative;
    text-align: center;
}
.top-left {
    position: absolute;
    top: 8px;
    left: 16px;
}
.top-right {
    position: absolute;
    top: 8px;
    right: 16px;
}
.bottom-left {
    color: white;
    position: absolute;
    bottom: 8px;
    left: 16px;
}
.infoOmSalongerTerms {
    width: 97%;
    height: 50px;
    border-bottom: 1px solid orange;

    display: flex;
    justify-content: space-around;
    padding-left: 1rem;
    margin-top: 1rem;
}
.headerStarContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.headerStjarnor{
    width: 80px;
    height: 11px;
}
.moreInfoMainContent {
    margin: 1rem;
}
.moreInfoMainContentItems {
    padding: 0.4rem 0 0.4rem 0;
    border-bottom: 1px solid rgba(255, 165, 0, 0.2);
}

/*  Fonts   */
@font-face {
    font-family: "MillerBanner";
    src: url(FontBureau.otf);
    font-style: normal;
    font-weight: 100;
}
h1 {
    font-family: "MillerBanner";
    font-weight: 100;
    margin: 0;
}
p {
    font-family: "MillerBanner";
    font-weight: 100;
    margin: 0;
}
.listStarContainer {
    display: flex;
    align-items: center;
}